<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gifs</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'add_todo' %}">Add to-do</a>
            <a class="nav-link" href="{% url 'display_todos' %}">Todos</a>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>