<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Form</title>
</head>
<body>

<form method="get" action="/persons/phonenumber">
  <label for="phone_number">Search by Phone Number:</label>
  <input type="text" id="phone_number" name="phone_number">
  <input type="submit" value="Search">
</form>
<br>
<form method="get" action="/persons/name">
  <label for="name">Search by Name:</label>
  <input type="text" id="name" name="name">
  <input type="submit" value="Search">
</form>


</body>
</html>