<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gifs</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .container{margin-top: 30px}
    </style>
</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'search' %}">Search</a>
            <a class="nav-link" href="{% url 'book_list' %}">BookList</a>
            <a class="nav-link" href="{% url 'create_review' %}">Add Review</a>
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>