<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>


<body>
    <%- include('../partials/header'); %>
    <div class="main-container">
        <div class="head-container">
            <h1 >The Fact Site</h1>
            <p>Welcome to The Fact Site</p>
        </div>


        <%- include('../partials/post'); %>

    </div>

    <%- include('../partials/footer'); %>
</body>

</html>